@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primaria: #F3F5FC;
  --color-secundaria: #0A3871;
  --color-terciaria: #67808E;
  --color-hover: #272727;

  --fuente-inter: "Inter";
}

* {
  font-family: var(--fuente-inter);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primaria);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 4%;
  width: 100%;
}

header {
  margin-top: 24px;
  min-height: 96px;
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  margin-bottom: 24px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#text_area,
#result_text_area {
  background: none;
  border: none;
  color: var(--color-secundaria);
  font-size: 32px;
  font-weight: 400;
  height: 27vh;
  width: 100%;
}

#text_area::placeholder,
#result_text_area::placeholder {
  color: var(--color-secundaria);
}

#text_area:active,
#text_area:focus,
#text_area:focus-visible,
#result_text_area:active,
#result_text_area:focus,
#result_text_area:focus-visible {
  border: none;
}

.info {
  display: flex;

}

.icon {
  height: 16px;
  width: 16px;
}

.span-info {
  color: #495057;
  font-size: 12px;
  font-weight: 400;
  margin-left: 7px;
}

.buttons_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.btn {
  border-radius: 24px;
  border: 1px solid var(--color-secundaria);
  color: var(--color-secundaria);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 67px;
  margin-top: 20px;
  width: 100%;
}

.btn:hover {
  background-color: var(--color-secundaria);
  box-shadow: -1px 5px 7px 1px rgb(20 19 19 / 68%);
  color: white;
}

.result {
  align-items: center;
  background-color: white;
  border-radius: 32px;
  box-shadow: -1px 19px 30px 1px rgb(20 19 19 / 21%);
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  padding: 32px;
  width: 100%;
}

.default_container {
  width: 100%;
}

.default_container h2 {
  text-align: center;
}

.default_container p {
  color: #495057;
  margin-top: 16px;
  text-align: center;
}

.img_find {
  display: none;
}

.result_container {
  width: 100%;
}

.result_container #result_text_area {
  color: #495057;
  font-size: 24px;
}

.result_container button#btn_copy {
  width: 100%;
}

footer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

footer p {
  color: var(--color-secundaria);
  font-size: 12px;
  font-weight: bold;
}

.hidden {
  display: none;
}


@media (min-width: 426px) {
  .buttons_container {
    flex-direction: row;
    justify-content: space-around;
  }

  .btn {
    width: 46%;
  }
}

/* Tablets */
@media (min-width: 679px) {

  #text_area {
    height: 50vh;
    max-height: 50vh;
    max-width: 100%;
  }

  #result_text_area {
    height: 30vh;
    max-height: 30vh;
    max-width: 100%;
  }
}


@media (min-width: 1024px) {

  .container {
    justify-content: space-between;
  }

  .main {
    width: 60%;
  }

  .result {
    margin-top: 0;
    width: 30%;
    height: 89%;
  }

  .img_find {
    display: block;
    margin-bottom: 32px;
    width: 100%;
  }

  #text_area {
    height: 73vh;
    max-height: 73vh;
    max-width: 100%;
  }

  #result_text_area {
    height: 61vh;
    max-height: 61vh;
    max-width: 100%;
  }
}